Repository albertocavalcante/magalu-github-runner: changes, and which lefthook commands are due for each by the changed paths.
All: terraform-fmt, terraform-validate, tflint, terraform-docs, shellcheck

lefthook.yml:

# Lefthook: Fast, powerful, and dependency-free (remote) git hooks manager.
# https://github.com/evilmartians/lefthook

pre-commit:
  parallel: true
  commands:
    terraform-fmt:
      glob: '*.{tf,tfvars}'
      run: terraform fmt -recursive -check

    terraform-validate:
      glob: '*.{tf,tfvars}'
      run: terraform validate

    tflint:
      glob: '*.{tf,tfvars}'
      run: tflint --config=.tflint.hcl

    terraform-docs:
      glob: '*.{tf,tfvars}'
      run: terraform-docs markdown table --output-file README.md --output-mode inject .

    shellcheck:
      glob: 'templates/*.tftpl'
      run: shellcheck {staged_files}

fix: refactor CI to run checks directly instead of via lefthook
  .github/workflows/ci.yml
Due: none

fix: update Terraform version to 1.11.0 in CIMatch the required_version constraint in versions.tf
  .github/workflows/ci.yml
Due: none

feat: add shellcheck linting for bash scripts (#8)
  .github/workflows/ci.yml
  lefthook.yml
  templates/startup.sh.tftpl
Due: shellcheck

fix(selinux): restore contexts on runner files for Rocky Linux
  templates/startup.sh.tftpl
Due: shellcheck

fix(selinux): restore contexts on runner files for Rocky Linux (#9)
  templates/startup.sh.tftpl
Due: shellcheck

feat: add orphan resource cleanup script and documentation
  TROUBLESHOOTING.md
  main.tf
  scripts/cleanup-orphans.sh
Due: terraform-fmt, terraform-validate, tflint, terraform-docs

feat: add orphan resource cleanup script and documentation (#10)
  TROUBLESHOOTING.md
  main.tf
  scripts/cleanup-orphans.sh
Due: terraform-fmt, terraform-validate, tflint, terraform-docs

fix: resolve runner startup failure on Rocky Linux
  TROUBLESHOOTING.md
  templates/startup.sh.tftpl
Due: shellcheck

fix: resolve runner startup failure on Rocky Linux (#11)
  TROUBLESHOOTING.md
  templates/startup.sh.tftpl
Due: shellcheck

fix: move runner permissions hardening to post-install phase
  templates/startup.sh.tftpl
Due: shellcheck

fix: move runner permissions hardening to post-install phase (#12)
  templates/startup.sh.tftpl
Due: shellcheck

docs: add comprehensive runner troubleshooting guide
  TROUBLESHOOTING.md
Due: none

docs: add comprehensive runner troubleshooting guide (#13)
  TROUBLESHOOTING.md
Due: none
